%p Greenhome.com is a energy analysis assistant and solar energy calculator.  Customers of energy providers who support the GreenButton XML format can upload their data and analyze their daily, weekly, and monthly energy usage on a chart.  Then, using the Solar Energy Calculator, Greenhome.com will analyze the solar insolation value for their location and determine energy cost savings based on user-inputted settings such as number of panels and size of panels.

%p GreenHome was developed by Tim Anderegg
