#solar-calculator
	%h2 GreenHome Solar Calculator

	%p Think you want to Go Solar?  Use this calculator to determine how much energy you can produce, and how long it would take to pay back on your investment.

	#calc-options
		=form_tag('/go_solar', :method => :get) do
			%label # of Panels 
			%input{:type => 'text', :name => 'panel_num', :value => @panel_num} 
			%label Panel Size 
			=select_tag 'panel_size', "<option value=\"60\" #{@panel_size.to_i==60 ? 'selected' : ''}>60 Watts</option><option value=\"100\" #{@panel_size.to_i==100 ? 'selected' : ''}>100 Watts</option><option value=\"200\" #{@panel_size.to_i==200 ? 'selected' : ''}>200 Watts</option>".html_safe
			%label Cost
			%span=number_to_currency(@panel_num.to_i*@panel_size.to_i*7.0) 
			%button{:type => :submit} Refresh


	#solar-calculator-content
		=render :partial => 'solar-calc-table'

	#solar-calc-chart
		&nbsp;